@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts.css";

@layer components {
  .border-styles {
    @apply border border-neutral-700;
  }
}
.circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 30px;
  stroke-dasharray: 880;
  stroke-dashoffset: 880;
}

.small-circle {
  fill: none;
  stroke: url(#GradientColorSmall);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
}

.scroll::-webkit-scrollbar {
  width: 8px;
}
.main-scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-thumb, .main-scroll::-webkit-scrollbar-thumb {
  background: #ccccd2;
  border-radius: 1000px;
}
